div {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

span {
    width: 30px;
    border: 1px solid;
    padding: 5px;
    user-select: none;
}

span.selection {
    background: #adf;
}

span:hover:not(.selection) {
    background: #cfefff;
}
