
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 50px;
  text-align: center;
}

.cell {
  background: #cde;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 55px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 55px;
  user-select: none; 
}

.selected {
  outline: rgb(42, 42, 142) solid 1.5px;
  background: #00519b;

}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: "column",

  /*flex-direction: row;*/
}

.game-info {
  margin-left: 20px;
}

.list {
  display: flex;
  outline: rgb(42, 42, 142) solid 1.5px;
  background: #00519b;

}

.wordfound {
  text-decoration: line-through;
  color: #fa8f45;
}


.success {
  width: auto;
  background-color: #7c6;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 10px;
  color: #fff;
}

/*
table {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}

span {
    width: 30px;
    border: 1px solid;
    padding: 5px;
    user-select: none;
}

span.selection {
    background: #adf;
}

span:hover:not(.selection) {
    background: #cfefff;
}
*/